SOC 2 Gap Analysis Report.json
{
  "name": "SOC 2 Gap Analysis Report",
  "nodes": [
    {
      "parameters": {},
      "id": "a05cd6d3-cf3b-487b-8b6b-85e140ac5bfd",
      "name": "Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "Criteria_ID",
              "value": "CC1.1",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "Criteria_Name",
              "value": "Board oversight",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "Category",
              "value": "Governance",
              "type": "string"
            },
            {
              "id": "c4",
              "name": "Requirement",
              "value": "Board shall oversee internal controls",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "31098943-cc42-4752-b93c-a37c3e6be6c4",
      "name": "SOC 2 Criteria",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        320
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Criteria_ID",
        "options": {
          "multipleMatches": "all"
        }
      },
      "id": "96f3e79b-3167-4ccc-b153-523517656bcc",
      "name": "Merge by Criteria_ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      Criteria_ID: 'CC1.1',\n      Evidence: 'Board minutes Q1-Q4',\n      Status: 'Compliant',\n      Notes: 'None',\n    },\n  },\n  {\n    json: {\n      Criteria_ID: 'CC1.1',\n      Evidence: 'None',\n      Status: 'Non-Compliant',\n      Notes: 'No meeting records',\n    },\n  },\n];"
      },
      "id": "f3012700-8c54-4914-a0ce-b31a52b77f7e",
      "name": "Client Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Non-Compliant",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6f977b89-ace3-4297-9daa-f1a3f9186463",
      "name": "Is Non-Compliant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        416
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a SOC 2 compliance auditor. Analyze this NON-COMPLIANT control and produce a report section.\n\nCriteria ID: {{ $json.Criteria_ID }}\nCriteria Name: {{ $json.Criteria_Name }}\nCategory: {{ $json.Category }}\nRequirement: {{ $json.Requirement }}\nEvidence Provided: {{ $json.Evidence }}\nStatus: {{ $json.Status }}\nAuditor Notes: {{ $json.Notes }}\n\nProduce:\n- gap_description: what control gap exists\n- risk_impact: the business/security risk of this gap\n- remediation: concrete steps to close the gap\n- priority: High, Medium, or Low\n- timeline: realistic remediation timeframe\n\nRespond ONLY with a valid JSON object matching the required schema. Do not include markdown code fences, explanations, or any text outside the JSON.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "ad22933f-61ab-4db1-8744-38c0f4c9483b",
      "name": "Groq Gap Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "975c74cc-e20b-4b1e-bd5b-8422f9ad9833",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        912,
        224
      ],
      "credentials": {
        "groqApi": {
          "id": "qHT2RbiYHTb5dLQ9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"gap_description\":{\"type\":\"string\"},\"risk_impact\":{\"type\":\"string\"},\"remediation\":{\"type\":\"string\"},\"priority\":{\"type\":\"string\",\"description\":\"One of: High, Medium, Low\"},\"timeline\":{\"type\":\"string\"}},\"required\":[\"gap_description\",\"risk_impact\",\"remediation\",\"priority\",\"timeline\"]}",
        "autoFix": true
      },
      "id": "6b18d545-b354-4ef1-8387-a9e413ef4ce1",
      "name": "Gap Analysis Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0
        }
      },
      "id": "f60a64f9-05ae-430e-8989-c7a39c2a7c2c",
      "name": "Groq Fix Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1040,
        432
      ],
      "credentials": {
        "groqApi": {
          "id": "qHT2RbiYHTb5dLQ9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "Criteria_ID",
              "value": "={{ $('Merge by Criteria_ID').item.json.Criteria_ID }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "Criteria_Name",
              "value": "={{ $('Merge by Criteria_ID').item.json.Criteria_Name }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "Current_Status",
              "value": "={{ $('Merge by Criteria_ID').item.json.Status }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "Gap_Description",
              "value": "={{ $json.output.gap_description }}",
              "type": "string"
            },
            {
              "id": "r5",
              "name": "Risk_Impact",
              "value": "={{ $json.output.risk_impact }}",
              "type": "string"
            },
            {
              "id": "r6",
              "name": "Remediation",
              "value": "={{ $json.output.remediation }}",
              "type": "string"
            },
            {
              "id": "r7",
              "name": "Priority",
              "value": "={{ $json.output.priority }}",
              "type": "string"
            },
            {
              "id": "r8",
              "name": "Timeline",
              "value": "={{ $json.output.timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eac3ff44-0658-465d-963c-c2e83905d012",
      "name": "Report Section (Non-Compliant)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "k1",
              "name": "Criteria_ID",
              "value": "={{ $json.Criteria_ID }}",
              "type": "string"
            },
            {
              "id": "k2",
              "name": "Criteria_Name",
              "value": "={{ $json.Criteria_Name }}",
              "type": "string"
            },
            {
              "id": "k3",
              "name": "Current_Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "k4",
              "name": "Gap_Description",
              "value": "N/A - Compliant",
              "type": "string"
            },
            {
              "id": "k5",
              "name": "Risk_Impact",
              "value": "None",
              "type": "string"
            },
            {
              "id": "k6",
              "name": "Remediation",
              "value": "None required",
              "type": "string"
            },
            {
              "id": "k7",
              "name": "Priority",
              "value": "Low",
              "type": "string"
            },
            {
              "id": "k8",
              "name": "Timeline",
              "value": "N/A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "29a0793c-6293-4ebe-acf8-97ec6ecd44ba",
      "name": "Report Section (Compliant)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run": {
      "main": [
        [
          {
            "node": "SOC 2 Criteria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Client Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOC 2 Criteria": {
      "main": [
        [
          {
            "node": "Merge by Criteria_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge by Criteria_ID": {
      "main": [
        [
          {
            "node": "Is Non-Compliant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Evidence": {
      "main": [
        [
          {
            "node": "Merge by Criteria_ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is Non-Compliant?": {
      "main": [
        [
          {
            "node": "Groq Gap Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Section (Compliant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Gap Analysis": {
      "main": [
        [
          {
            "node": "Report Section (Non-Compliant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Gap Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gap Analysis Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Gap Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Fix Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gap Analysis Schema",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c59dc8d4-30f9-4206-9903-b738237a69a6",
  "meta": {
    "instanceId": "0387e85f30302bdb4225b39eadaed84ba225840f6c20dfbf9a169beba6590895"
  },
  "nodeGroups": [],
  "id": "JqrEkcOFXqzXFXvo",
  "tags": []
}