workflows/Vulnerability Scan Executive Summary.json
{
  "name": "Vulnerability Scan Executive Summary",
  "nodes": [
    {
      "parameters": {},
      "id": "a9e17e8a-7539-4f2a-a7b6-6a7f76ca4396",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { Host: '192.168.1.1', Port: 80, Vulnerability: 'Apache Struts RCE', Severity: 'Critical', Description: 'Remote code execution vulnerability in Apache Struts framework' } },\n  { json: { Host: '192.168.1.2', Port: 443, Vulnerability: 'OpenSSL Heartbleed', Severity: 'High', Description: 'Information disclosure vulnerability in OpenSSL' } },\n  { json: { Host: '192.168.1.3', Port: 22, Vulnerability: 'Weak SSH Cipher', Severity: 'Medium', Description: 'SSH server supports weak encryption algorithms' } },\n  { json: { Host: '192.168.1.4', Port: 3389, Vulnerability: 'BlueKeep RCE', Severity: 'Critical', Description: 'Remote code execution vulnerability in RDP' } },\n  { json: { Host: '192.168.1.5', Port: 445, Vulnerability: 'EternalBlue SMB', Severity: 'High', Description: 'Remote code execution vulnerability in SMBv1' } }\n];"
      },
      "id": "971e2e1e-2baf-4d79-83c2-9d99d7ae4173",
      "name": "Vulnerability Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.1-8b-instant\",\n  messages: [\n    { role: \"system\", content: \"You are a cybersecurity executive summary writer. Write concise, professional summaries for board-level audiences. Never say \\\"Here is a summary\\\" or mention instructions. Just write the summary directly.\" },\n    { role: \"user\", content: \"Vulnerability: \" + $json.Vulnerability + \". Description: \" + $json.Description + \". Severity: \" + $json.Severity + \". Write a 2-sentence executive summary with business impact and recommended action.\" }\n  ]\n}) }}",
        "options": {}
      },
      "id": "2f6ad4b3-9d93-451d-8c67-bdf92f2c039c",
      "name": "Groq AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "credentials": {
        "groqApi": {
          "id": "qHT2RbiYHTb5dLQ9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "o1",
              "name": "Host",
              "value": "={{ $('Vulnerability Data').item.json.Host }}",
              "type": "string"
            },
            {
              "id": "o2",
              "name": "Port",
              "value": "={{ $('Vulnerability Data').item.json.Port }}",
              "type": "number"
            },
            {
              "id": "o3",
              "name": "Vulnerability",
              "value": "={{ $('Vulnerability Data').item.json.Vulnerability }}",
              "type": "string"
            },
            {
              "id": "o4",
              "name": "Severity",
              "value": "={{ $('Vulnerability Data').item.json.Severity }}",
              "type": "string"
            },
            {
              "id": "o5",
              "name": "Description",
              "value": "={{ $('Vulnerability Data').item.json.Description }}",
              "type": "string"
            },
            {
              "id": "o6",
              "name": "AI_Summary",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d658e908-a4d2-4dad-9d6d-4b9a1b65e526",
      "name": "Original Data + AI Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "Risk_Level",
              "value": "={{ $json.Severity }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "Remediation_Priority",
              "value": "={{ $json.Severity === \"Critical\" ? \"Immediate - 24 hours\" : $json.Severity === \"High\" ? \"Urgent - 72 hours\" : $json.Severity === \"Medium\" ? \"Planned - 1 week\" : \"Low - Monitor\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "47aa69be-2e4c-406d-a6d8-b3fc02e11b47",
      "name": "Risk Assessment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "Report_Section",
              "value": "Executive Summary",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "Finding",
              "value": "={{ $json.Vulnerability }}",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "Risk",
              "value": "={{ $json.Severity }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "=Impact",
              "value": "={{ $('Groq AI Summary').item.json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "e5",
              "name": "Priority",
              "value": "={{ $json.Remediation_Priority }}",
              "type": "string"
            },
            {
              "id": "e6",
              "name": "Recommendation",
              "value": "=Review and patch {{ $json.Host }}:{{ $json.Port }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dd825332-f462-4693-bc99-4f9c8dc2e258",
      "name": "Executive Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Get ALL items, not just the first one\nconst allItems = $input.all();\n\n// Map through each item and build report data\nconst data = allItems.map(item => item.json);\n\nconst now = new Date().toLocaleDateString('en-US', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst getRiskColor = (risk) => {\n  const colors = {\n    'Critical': '#dc2626',\n    'High': '#ea580c',\n    'Medium': '#ca8a04',\n    'Low': '#16a34a'\n  };\n  return colors[risk] || '#6b7280';\n};\n\nconst getPriorityColor = (priority) => {\n  if (!priority) return '#6b7280';\n  if (priority.includes('Immediate')) return '#dc2626';\n  if (priority.includes('Urgent')) return '#ea580c';\n  if (priority.includes('Planned')) return '#ca8a04';\n  return '#16a34a';\n};\n\n// Universal field finder\nconst getField = (item, ...names) => {\n  for (const name of names) {\n    if (item[name] !== undefined && item[name] !== null && item[name] !== '') {\n      return item[name];\n    }\n  }\n  return 'N/A';\n};\n\nconst rows = data.map(item => {\n  const finding = getField(item, 'Finding', 'Vulnerability', 'finding', 'vulnerability');\n  const risk = getField(item, 'Risk', 'Severity', 'risk', 'severity');\n  const impact = getField(item, 'Impact', 'AI_Summary', 'Summary', 'output', 'content', 'Description', 'description', 'impact');\n  const priority = getField(item, 'Priority', 'priority', 'Remediation_Priority');\n  const recommendation = getField(item, 'Recommendation', 'recommendation', 'Remedy');\n  \n  return `\n  <tr>\n    <td style=\"padding:12px;border-bottom:1px solid #374151;\">${finding}</td>\n    <td style=\"padding:12px;border-bottom:1px solid #374151;\">\n      <span style=\"background:${getRiskColor(risk)};color:white;padding:4px 12px;border-radius:4px;font-size:12px;font-weight:600;\">${risk}</span>\n    </td>\n    <td style=\"padding:12px;border-bottom:1px solid #374151;font-size:13px;\">${impact}</td>\n    <td style=\"padding:12px;border-bottom:1px solid #374151;\">\n      <span style=\"background:${getPriorityColor(priority)};color:white;padding:4px 12px;border-radius:4px;font-size:12px;font-weight:600;\">${priority}</span>\n    </td>\n    <td style=\"padding:12px;border-bottom:1px solid #374151;font-size:13px;\">${recommendation}</td>\n  </tr>\n`}).join('');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Executive Summary Report</title>\n</head>\n<body style=\"margin:0;padding:40px;background:#0f172a;font-family:system-ui,-apple-system,sans-serif;\">\n  <div style=\"max-width:900px;margin:0 auto;background:#1e293b;border-radius:12px;padding:40px;box-shadow:0 25px 50px -12px rgba(0,0,0,0.5);\">\n    \n    <div style=\"text-align:center;margin-bottom:40px;\">\n      <h1 style=\"color:#f8fafc;font-size:28px;margin:0 0 8px 0;\">🔒 Executive Summary Report</h1>\n      <p style=\"color:#94a3b8;font-size:14px;margin:0;\">Generated on ${now} | AI-Powered Cybersecurity Assessment</p>\n    </div>\n    \n    <div style=\"background:#334155;padding:20px;border-radius:8px;margin-bottom:30px;\">\n      <h3 style=\"color:#f8fafc;margin:0 0 12px 0;font-size:16px;\">📊 Report Overview</h3>\n      <div style=\"display:flex;gap:30px;\">\n        <div>\n          <p style=\"color:#94a3b8;font-size:12px;margin:0 0 4px 0;\">Total Findings</p>\n          <p style=\"color:#f8fafc;font-size:24px;font-weight:700;margin:0;\">${data.length}</p>\n        </div>\n        <div>\n          <p style=\"color:#94a3b8;font-size:12px;margin:0 0 4px 0;\">Critical/High</p>\n          <p style=\"color:#f87171;font-size:24px;font-weight:700;margin:0;\">${data.filter(i => {\n            const r = getField(i, 'Risk', 'Severity', 'risk', 'severity');\n            return r === 'Critical' || r === 'High';\n          }).length}</p>\n        </div>\n        <div>\n          <p style=\"color:#94a3b8;font-size:12px;margin:0 0 4px 0;\">Medium/Low</p>\n          <p style=\"color:#fbbf24;font-size:24px;font-weight:700;margin:0;\">${data.filter(i => {\n            const r = getField(i, 'Risk', 'Severity', 'risk', 'severity');\n            return r === 'Medium' || r === 'Low';\n          }).length}</p>\n        </div>\n      </div>\n    </div>\n    \n    <table style=\"width:100%;border-collapse:collapse;color:#e2e8f0;\">\n      <thead>\n        <tr style=\"background:#334155;\">\n          <th style=\"padding:14px;text-align:left;font-size:13px;font-weight:600;color:#f8fafc;\">Finding</th>\n          <th style=\"padding:14px;text-align:left;font-size:13px;font-weight:600;color:#f8fafc;\">Risk</th>\n          <th style=\"padding:14px;text-align:left;font-size:13px;font-weight:600;color:#f8fafc;\">Impact</th>\n          <th style=\"padding:14px;text-align:left;font-size:13px;font-weight:600;color:#f8fafc;\">Priority</th>\n          <th style=\"padding:14px;text-align:left;font-size:13px;font-weight:600;color:#f8fafc;\">Recommendation</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${rows}\n      </tbody>\n    </table>\n    \n    <div style=\"margin-top:40px;padding-top:20px;border-top:1px solid #334155;text-align:center;\">\n      <p style=\"color:#64748b;font-size:12px;margin:0;\">Generated by AI Cybersecurity Automation | For internal use only</p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\n// Return as a single item containing all data\nreturn [{ json: { HTML_Report: html, Total_Findings: data.length } }];"
      },
      "id": "ce0a484a-de3e-4bbe-9c1a-550783022aa0",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Vulnerability Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerability Data": {
      "main": [
        [
          {
            "node": "Groq AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Summary": {
      "main": [
        [
          {
            "node": "Original Data + AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Original Data + AI Summary": {
      "main": [
        [
          {
            "node": "Risk Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Assessment": {
      "main": [
        [
          {
            "node": "Executive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executive Report": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c77240d5-70a0-4c54-b722-6670460feb4d",
  "meta": {
    "instanceId": "0387e85f30302bdb4225b39eadaed84ba225840f6c20dfbf9a169beba6590895"
  },
  "nodeGroups": [],
  "id": "qiJ6J4h9jUHHUsrK",
  "tags": []
}